body {
  margin: 0;
  font-family: 'Caja', 'Lilian', 'BBBOcelot';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
}

code {
  font-family: 'Caja', 'Lilian', 'BBBOcelot';
}
