body {
  margin: 0;
  font-family: 'Red Hat Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303030;
  color: #FFFFFF;
}

code {
  font-family: 'Red Hat Mono', monospace;
}
